<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add your first promise</title>
</head>
<body>
<section>
    <h1>Add your first promise</h1>
</section>
<section>
    <div>
        <form th:action="@{/first-promise}" th:object="${givenPromise}">
            <div>
                <label>Who you are?
                    <input th:field="*{who}" type="text" required/>
                </label>
                <div th:if="${#fields.hasErrors('who')}">
                    <span th:each="error : ${#fields.errors('who')}" th:text="${error}"></span>
                </div>
            </div>
            <div>
                <label>What do you promise?
                    <input th:field="*{what}" type="text" required/>
                </label>
                <div th:if="${#fields.hasErrors('what')}">
                    <span th:each="error : ${#fields.errors('what')}" th:text="${error}"></span>
                </div>
            </div>
            <div>
                <label>Whom do you promise?
                    <input th:field="*{whom}" type="text" required/>
                </label>
                <div th:if="${#fields.hasErrors('whom')}">
                    <span th:each="error : ${#fields.errors('whom')}" th:text="${error}"></span>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>